// Ìí¼Ó±³¾°Í¼Æ¬
body {
      background: url(https://cdn.jsdelivr.net/gh/pengqi/img//pictures/20200527203641.png); //×Ô¼ºÏ²»¶µÄÍ¼Æ¬µØÖ·
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50%;

}