.sub-menu {
  background: var(--content-bg-color);
  border-bottom: 1px solid $table-border-color;
  margin: 0;
  padding: 6px 0;
  background-color: rgba(251, 251, 251, 0.9);   //透明化

  .menu-item {
    display: inline-block;

    a, span.exturl {
      background: transparent;
      margin: 5px 10px;
      padding: initial;
       background-color: rgba(251, 251, 251, 0.9);   //透明化

      &:hover {
        background: transparent;
        color: $sidebar-highlight;
      }
    }
  }

  .menu-item-active a {
    border-bottom-color: $sidebar-highlight;
    color: $sidebar-highlight;

    &:hover {
      border-bottom-color: $sidebar-highlight;
    }
  }
}
