// Custom styles.


// 透明 博客背景
//1 插画-山 background:url(https://cdn.jsdelivr.net/gh/pengqi/img//pictures/20200527203641.png);
//2 月球 background:url(https://cdn.jsdelivr.net/gh/pengqi/img//pictures/20200603150958.jpg);
//3 插画-树-河 尺寸太大了 background:url(https://cdn.jsdelivr.net/gh/pengqi/img//pictures/20200603150959.jpg);
//4 月球-降亮度            background:url(https://cdn.jsdelivr.net/gh/pengqi/img//pictures/20200603160426.png);
/*
body {
    background:url(https://cdn.jsdelivr.net/gh/pengqi/img//pictures/20200603160426.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    opacity: 0.9;  //透明度
} 
*/

/*博客内容透明化
文章内容的透明度设置*/
.post-block {
 background-color: rgba(251, 251, 251, 0.9);  
}

/*侧边框的透明度设置*/
.sidebar {
  background-color: rgba(251, 251, 251, 0.9);  
  box-shadow: none
  background: none
}

/*下面的侧边框*/
.sidebar-inner {
   background-color: rgba(251, 251, 251, 0.9);  
}

/*菜单栏的透明度设置*/
.header-inner {
   background-color: rgba(251, 251, 251, 0.9);  
   z-index: 10;  /*添加它，调整层级*/
}

/*搜索框（local-search）的透明度设置*/
.popup {
   background-color: rgba(251, 251, 251, 0.9);   
}

/*valine 评论框*/
.comments {
   background-color: rgba(251, 251, 251, 0.9);   
}

/*更多阅读 按钮*/
.btn {
    background-color: rgba(251, 251, 251, 0.9);  
}

/*页脚*/
.pagination {
   background-color: rgba(251, 251, 251, 0.9);  
}

/*网站声明*/
.footer {
    color: #ddd;  
}




