// Custom styles.
code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}


// 透明 博客背景
//1 插画-山 background:url(https://cdn.jsdelivr.net/gh/pengqi/img//pictures/20200527203641.png);
//2 月球 background:url(https://cdn.jsdelivr.net/gh/pengqi/img//pictures/20200603150958.jpg);
//3 插画-树-河 尺寸太大了 background:url(https://cdn.jsdelivr.net/gh/pengqi/img//pictures/20200603150959.jpg);
//4 月球-降亮度            background:url(https://cdn.jsdelivr.net/gh/pengqi/img//pictures/20200603160426.png);
/*
body {
    background:url(https://cdn.jsdelivr.net/gh/pengqi/img//pictures/20200603160426.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    opacity: 0.9;  //透明度
} 
*/

//圆角出现问题之解决方法
.sidebar {
box-shadow: none
background: none
}
